/* 
    General Styles used on every website (Don't Repeat Yourself)

*/
.contenedor {
    background-color: gold;
    margin-top: 3%;
}
  
  input{
    cursor: pointer;
   }
  
  label{
    cursor: pointer;
  }
  
  .radiobutton{
    display: flex;
    flex-basis: auto;
    align-items: center;
    justify-content: center;
    
  }
      
  h3{
    text-align: center;
     }
  
  h5{
      text-align: center;
       }
  .campos{
    margin-left: 450px;
    margin-top: 10px;
    height: 300px;
    width: 600px;
  }
  
  .Boton{
    margin-top: 20px;
    text-align: center;
  }
