/* 
    General Styles used on every website (Don't Repeat Yourself)

*/
.contenedor {
    background-color: gold;
    margin-top: 3%;
}
.signup {
    text-align: center;
    padding: 40px 30px;
  }

  
  input{
    cursor: pointer;
  }
  
  label{
    cursor: pointer;
  }
  
  .radiobutton{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .radiobutton > .form-group{
    padding-left: 15px;
  }
  
  .radiobutton{
    padding-left: 3px;
  }
  
  
  
