/* 
    General Styles used on every website (Don't Repeat Yourself)

*/
.contenedor {
    background-color: gold;
    margin-top: 3%;
   
}
  
  input{
    cursor: pointer;
   }
  
  label{
    cursor: pointer;
  }
  
  .radiobutton{
    display: flex;
    flex-basis: auto;
    align-items: center;
    justify-content: center;
    
  }
      
  h3{
    text-align: center;
     }
  
  h5{
      text-align: center;
       }
  
  
  .Boton{
    margin-top: 20px;
    text-align: center;
  }

  .btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet);
    --bs-btn-border-color: var(--bd-violet);
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
    --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
    --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
  }
  .circular--square {
    align-content: flex-end;
    margin-top: 30px;
    display: inline-block;
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 50%;
    float:right;
   
  }
  .opciones{
    margin-left: 30%;
    width: 500px;
    height: 100px;
  }